<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="SimpleChatServer.ChatService">
        <endpoint address="net.tcp://localhost:9000/ChatService" binding="netTcpBinding"
                  bindingConfiguration="" name="ChatServiceEndPoint" contract="SimpleChatLibrary.IChatService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>