<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAsciiArtService" maxBufferSize="524288"
                    maxReceivedMessageSize="524288" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sharp.kst.fri.uniza.sk/TestService/AsciiArtService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsciiArtService"
                contract="ServiceReference1.IAsciiArtService" name="BasicHttpBinding_IAsciiArtService" />
        </client>
    </system.serviceModel>
</configuration>